@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dadada;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.image:hover img {
    transform: scale(1.2);
}

.image {
    width: 30%;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer;
}

.gallery {
    position: fixed;
    background: rgb(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.3s;
}

.control {
    font-size: 32px;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.close {
    top: 10px;
    right: 20px;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.gallery__inner {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.hide {
    display: none;
}