@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --pink-color: #e26e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );;
}

.open-modal-btn {
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    cursor: pointer;
}

.open-modal-btn:hover {
    /* background-color: #e26e70; */
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
}

.modal__inner {
    position: relative;
    top: 50%;
    margin: auto;
    background: white;
    width: 400px;
    transform: translate(0,-50%);
    border-radius: 6px;
    overflow: hidden;
    animation: modalShowAnimation 0.2s ease-out;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: var(--pink-color);
    color: white;

}

.modal__body {
    padding: 16px; 
}

.modal__body h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
}

.modal__footer {
    padding: 12px 16px;
    text-align: right;
}

.modal__footer button {
    border: none;
    outline: none;
    background: var(--pink-color);
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes modalShowAnimation {
    0% {
        opacity: 0;
        top: 0px;
    }

    100% {
        opacity: 1;
        top: 50%;
    }
}
